.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 2.5vh;
}

.avatar {
    width: 15vw;
    margin-top: 5vh;
    margin-bottom: 2vh;
    border-radius: 50%;
}

.userdata {
    margin-top: 0.1vh;
    margin-bottom: 0.1vh;
}

.usernome-box {
    display: flex;
    flex-direction: column;
}

.userpassword-box {
    margin-bottom: 2vh;
}

.addressinput {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 1vw;

    width: auto;
}

.bigtext {
    font-size: 3vh;
    margin-top: 3vh;
}