.screen-edit-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    min-width: 400px;
    max-width: 600px;
    height: fit-content;
    margin: auto;
    padding-top: 3vh;
    padding-bottom: 4vh;
    background-color: rgba(139, 180, 193, 0.65);
    border-radius: 20px;
}

.forms-title {
    margin-bottom: 2vh;
    margin-top: 7vh;   
}

.forms-col {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 6px;
}

.forms-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 8px;
    align-items: flex-start;
    width: 100%;
}

.forms-row input,
.forms-row textarea {
    border: none;
    border-radius: 10px;
    margin-top: 2px;
    width: 100%;
    padding-left: 5px;
}

.forms-row textarea {
    padding-top: 5px;
}

.forms-row input {
    height: 22px;
}

.forms-row label {
    width: fit-content;
    white-space: nowrap;
}

#description_input {
    height: 10vh;
}

.buttons-edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 60px;
    margin-top: 2vh;
}

.submit-button {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    padding-top: 8px;
    color: white;
    width: 18%;
    height: 30px;
    cursor: pointer;
}

#cancelar-button {
    background-color: #810000;
}
#salvar-button {
    background-color: #00892F;
}
#cancelar-button:hover {
    background-color: #810000ad;
}
#salvar-button:hover {
    background-color: #008930a9;
}