.list-itens-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--light-gray);
    border-radius: 1.2em;
    padding: 15px;
    margin: 10px auto;
    max-width: 900px;
}