.search-item {
    background-color: rgba(59, 59, 59, 0.2);
    padding: 8px;
    border-radius: 1em;
    cursor: pointer;
}

.content-info-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    width: 60%;
}

.info-item-search {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 2px 8px 2px 2px;
}

.descr-item-search {
    background-color: rgba(59, 59, 59, 0.3);
    width: 40%;
    border-radius: 1em;
    padding: 10px;
    max-height: 130px;
    overflow: hidden;
}


/* tela grande */
@media only screen and (min-width: 700px) {
    .search-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 5px;
    }
}

/* tela pequena */
@media only screen and (max-width: 700px) {
    .content-info-search, .descr-item-search {
        width: 90%;
    }

    .search-item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
}

.row-item-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-search-price {
    display: flex;
    align-items: center;
    gap: 5px;
}

.item-search-price img {
    height: 1.6rem;
}

.img-item-search {
    min-width: 160px;
    width: 20%;
}

.img-item-search img {
    height: 100%;
}

.item-search-name {
    font-size: var(--font-size-m);
}