footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--onyx);
    height: fit-content;
    max-height: var(--height-footer);
    position: relative;
    bottom: 0;
    padding: var(--padding-footer);
    width: 100vw;
    margin: 0;
}

footer button {
    background-color: var(--onyx);
    border: none;
    color: white;
    padding: 0;
    margin: auto 0;
    cursor: pointer;
}

.img-footer {
    width: 15px;
    margin-right: 5px;
    transition: 0.25s;
    border-radius: 50%;
}
.img-footer:hover {
    background-image: radial-gradient(circle, var(--text) 0%, var(--onyx) 80%);
}

footer p, footer li, footer h3 {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-footer);
    color: white;
}

.made-with-love {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.github-text {
    font-size: 10px;
}

.contacts {
    margin: auto;
}