.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    /* border-color: black;
    border-style: solid;
    border-width: 1px; */
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 12px 15px 12px 5px;
    word-break: normal;
}

.tg .tg-c3ow {
    /* border-color: inherit; */
    border: none;
    text-align: left;
    font-weight: normal;
    vertical-align: top;
    padding: 5px 5px;
}

.tg .tg-title {
    border-color: inherit;
    text-align: left;
    font-weight: bold;
    vertical-align: top;
}

.tg .tg-total {
    border-color: inherit;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}